/* Empty. Add your own CSS if you like */
.bodyColor{
    background: #737FE7
}

.btn{
    background: #0000FF
    color: white
}


.btclass{
    background-color: aqua
}

.gry{
    background: #E1E1FF
}